// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// @import '../node_modules/bootstrap/scss/functions';
// 2. Include any default variable overrides here
// $h6-font-size: 8pt;

// 3. Include remainder of required Bootstrap stylesheets
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/root';

// 4. Include any optional Bootstrap CSS as needed
// Layout & components
@import 'bootstrap/scss/reboot';
// @import 'bootstrap/scss/type';
// @import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
// @import 'bootstrap/scss/grid';
// @import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
// @import 'bootstrap/scss/transitions';
// @import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/nav';
// @import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
// @import 'bootstrap/scss/accordion';
// @import 'bootstrap/scss/breadcrumb';
// @import 'bootstrap/scss/pagination';
// @import 'bootstrap/scss/badge';
// @import 'bootstrap/scss/alert';
// @import 'bootstrap/scss/progress';
@import 'bootstrap/scss/list-group';
// @import 'bootstrap/scss/close';
// @import 'bootstrap/scss/toasts';
// @import 'bootstrap/scss/modal';
// @import 'bootstrap/scss/tooltip';
// @import 'bootstrap/scss/popover';
// @import 'bootstrap/scss/carousel';
// @import 'bootstrap/scss/spinners';
// @import 'bootstrap/scss/offcanvas';
// @import 'bootstrap/scss/placeholders';

// Helpers
@import 'bootstrap/scss/helpers';

// Utilities
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/utilities/api';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.q-btn { 
    border-radius:6px;
}
.q-stepper{
    box-shadow:none;
    border:2px solid $grey-3;
}

/*---------------------------------------*/
/*--------------- BANNERS ---------------*/
/*---------------------------------------*/
.q-banner.banner{
    border-radius:4px;
    color:white;

    &.banner-success {
        background-color: $green-7;
        border: 2px solid $green-8;
    }
    
    &.banner-warning{
        background-color: $yellow-8;
        border: 2px solid $yellow-10;
    }
    
    &.banner-info{
        background-color: $blue-7;
        border: 2px solid $blue-9;
    }
    
    &.banner-error {
        background-color: $red-7;
        border: 2px solid $red-10;
    }
    .banner-icon{
        font-size:30px !important;
    }
    .q-banner__content > div {
        font-size: 12pt;
    }
}

/*---------------------------------------*/
/*---------------------------------------*/
/*---------------------------------------*/

:root, [data-bs-theme=light]{
    --bs-font-sans-serif:'Inter', sans-serif;
}
