version: "3.8"

services:
  # Depends on server. NGINX will throw errors if api endpoints are not setup.
  client:
    build:
      context: ../ # relative to docker compose
      dockerfile: ./.build-files/Dockerfile.client # relative to build context
      args:
        VITE_USE_HTTP: ${USE_HTTP}
        VITE_ENVIRONMENT: ${VITE_ENVIRONMENT}
        VITE_SERVER_URL: ${VITE_SERVER_URL}
        VITE_DATA_PORT: ${VITE_DATA_PORT}
        VITE_WS_PORT: ${VITE_WS_PORT}
        NGINX_FILE: ${NGINX_FILE}
    ports:
      - "${LOCAL_PORT_1:-80}:${LOCAL_PORT_2:-80}"
    depends_on:
      - server
      - celery
    env_file:
      - path: ${DOCKER_ENV_FILE} # relative to docker compose (has to be in same directory)
        required: true

  data:
    build:
      context: ./
      dockerfile: Dockerfile.data
    ports:
      - "9000:9000"
    volumes:
      - ${LOCAL_DATA_VOLUME_LOCATION}:/app/data # relative to docker compose
  duckdb:
    build:
      context: ../ # relative to docker compose
      dockerfile: ./.build-files/Dockerfile.duckdb # relative to build context
    ports:
      - "3000:3000"
    volumes:
      - duckdb-data:/app/duckdb-data

volumes:
  duckdb-data:
  migrations_volume: